@model List<ProjectLTWwarriors.Models.Products>

@{
    ViewBag.Title = "Mac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Mac.css" rel="stylesheet" />

<div>
    <div class="Bo_Khung_San_Pham">
        <p class="Bo_Khung_San_Pham_Title">Mac</p>
        <a class="Banner"></a>

        <div class="Danh_Sach_San_Pham">
            @foreach (var p in Model)
            {
                // Lấy 1 hình đại diện (nếu có bảng ProductImages)
                var imgUrl = p.ProductImages != null && p.ProductImages.Any()
                    ? p.ProductImages.FirstOrDefault().ImageUrl
                    : "~/images_LandingPage/no-image.png";

                <div class="The_San_Pham">
                    <a href="@Url.Action("ProductDetail", "Home", new { id = p.Id })">
                        <img class="TheSanPham_HinhAnh" src="@Url.Content(imgUrl)" />
                        <p class="TheSanPham_TenThietBi">@p.Name</p>
                        <p class="TheSanPham_Gia">
                            @string.Format("{0:N0}đ", p.Price)
                        </p>
                    </a>
                </div>
            }
        </div>

    </div>
</div>

